[submodule "backend"]
	path = backend
	url = https://github.com/yyleeSTE92/AISDLC-WorkShop1.git
	branch = backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/yyleeSTE92/AISDLC-WorkShop1.git
	branch = frontend
[submodule "cli"]
	path = cli
	url = https://github.com/yyleeSTE92/AISDLC-WorkShop1.git
	branch = cli
[submodule "bundle"]
	path = bundle
	url = https://github.com/yyleeSTE92/AISDLC-WorkShop1.git
	branch = bundle
